parameters:
	ignoreErrors:
		-
			message: '#^Static call to instance method plugin\\cccms\\app\\model\\BaseModel\:\:onlyTrashed\(\)\.$#'
			identifier: method.staticCall
			count: 1
			path: plugin/cccms/app/logic/CrontabLogic.php

		-
			message: '#^Call to an undefined method think\\db\\BaseQuery\:\:group\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: plugin/cccms/app/logic/DashboardLogic.php

		-
			message: '#^Call to an undefined static method think\\facade\\Db\:\:query\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: plugin/cccms/app/logic/DataRuleLogic.php

		-
			message: '#^Static call to instance method plugin\\cccms\\app\\model\\BaseModel\:\:onlyTrashed\(\)\.$#'
			identifier: method.staticCall
			count: 1
			path: plugin/cccms/app/logic/DataRuleLogic.php

		-
			message: '#^Call to an undefined static method think\\facade\\Db\:\:query\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: plugin/cccms/app/logic/DataScopeTableLogic.php

		-
			message: '#^Static call to instance method plugin\\cccms\\app\\model\\BaseModel\:\:onlyTrashed\(\)\.$#'
			identifier: method.staticCall
			count: 1
			path: plugin/cccms/app/logic/DeptLogic.php

		-
			message: '#^Static call to instance method plugin\\cccms\\app\\model\\BaseModel\:\:onlyTrashed\(\)\.$#'
			identifier: method.staticCall
			count: 1
			path: plugin/cccms/app/logic/FileLogic.php

		-
			message: '#^Call to an undefined static method think\\facade\\Db\:\:query\(\)\.$#'
			identifier: staticMethod.notFound
			count: 2
			path: plugin/cccms/app/logic/GeneratorLogic.php

		-
			message: '#^Static call to instance method plugin\\cccms\\app\\model\\BaseModel\:\:onlyTrashed\(\)\.$#'
			identifier: method.staticCall
			count: 1
			path: plugin/cccms/app/logic/PostLogic.php

		-
			message: '#^Static call to instance method plugin\\cccms\\app\\model\\BaseModel\:\:onlyTrashed\(\)\.$#'
			identifier: method.staticCall
			count: 1
			path: plugin/cccms/app/logic/RecycleLogic.php

		-
			message: '#^Static call to instance method plugin\\cccms\\app\\model\\BaseModel\:\:withTrashed\(\)\.$#'
			identifier: method.staticCall
			count: 1
			path: plugin/cccms/app/logic/RecycleLogic.php

		-
			message: '#^Static call to instance method plugin\\cccms\\app\\model\\BaseModel\:\:onlyTrashed\(\)\.$#'
			identifier: method.staticCall
			count: 1
			path: plugin/cccms/app/logic/RoleLogic.php

		-
			message: '#^Static call to instance method plugin\\cccms\\app\\model\\BaseModel\:\:withTrashed\(\)\.$#'
			identifier: method.staticCall
			count: 1
			path: plugin/cccms/app/logic/TenantLogic.php

		-
			message: '#^Method plugin\\cccms\\app\\logic\\UserLogic\:\:batchDelete\(\) should return array\{affected\: int, skipped\: array\<int\>\} but returns array\{affected\: bool, skipped\: list\}\.$#'
			identifier: return.type
			count: 1
			path: plugin/cccms/app/logic/UserLogic.php

		-
			message: '#^Static call to instance method plugin\\cccms\\app\\model\\BaseModel\:\:onlyTrashed\(\)\.$#'
			identifier: method.staticCall
			count: 1
			path: plugin/cccms/app/logic/UserLogic.php

		-
			message: '#^Using nullsafe property access "\?\-\>id" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: plugin/cccms/app/middleware/OperationLog.php

		-
			message: '#^Using nullsafe property access "\?\-\>username" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 2
			path: plugin/cccms/app/middleware/OperationLog.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 3
			path: plugin/cccms/app/model/BaseModel.php

		-
			message: '#^Call to an undefined static method support\\Redis\:\:setex\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: plugin/cccms/support/Captcha.php

		-
			message: '#^Strict comparison using \=\=\= between string and false will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: plugin/cccms/support/ControllerScanner.php

		-
			message: '#^Strict comparison using \=\=\= between non\-empty\-list\<string\|null\> and array\{\} will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: plugin/cccms/support/Csv.php

		-
			message: '#^Call to an undefined static method support\\Redis\:\:setex\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: plugin/cccms/support/DictCache.php

		-
			message: '#^Call to an undefined method think\\db\\BaseQuery\:\:getData\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: plugin/cccms/support/LogArchiver.php

		-
			message: '#^Access to an undefined property plugin\\cccms\\app\\model\\Menu\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: plugin/cccms/support/MenuSyncer.php

		-
			message: '#^Static call to instance method plugin\\cccms\\app\\model\\BaseModel\:\:withTrashed\(\)\.$#'
			identifier: method.staticCall
			count: 1
			path: plugin/cccms/support/MenuSyncer.php

		-
			message: '#^Call to an undefined static method support\\Redis\:\:setex\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: plugin/cccms/support/PasswordReset.php

		-
			message: '#^Call to an undefined static method support\\Redis\:\:setnx\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: plugin/cccms/support/PasswordReset.php

		-
			message: '#^Static call to instance method plugin\\cccms\\app\\model\\BaseModel\:\:withTrashed\(\)\.$#'
			identifier: method.staticCall
			count: 2
			path: plugin/cccms/support/PermScanner.php

		-
			message: '#^Call to an undefined static method support\\Redis\:\:setex\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: plugin/cccms/support/PermissionCache.php

		-
			message: '#^Using nullsafe property access "\?\-\>traceId" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: plugin/cccms/support/Result.php

		-
			message: '#^Call to an undefined static method support\\Redis\:\:setex\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: plugin/cccms/support/SessionGuard.php

		-
			message: '#^Call to an undefined static method think\\facade\\Db\:\:execute\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: plugin/cccms/support/SqlFileRunner.php

		-
			message: '#^Call to an undefined static method support\\Redis\:\:setex\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: plugin/cccms/support/SysConfig.php

		-
			message: '#^Call to an undefined static method support\\Redis\:\:setex\(\)\.$#'
			identifier: staticMethod.notFound
			count: 2
			path: plugin/cccms/support/TokenBlacklist.php

		-
			message: '#^Call to an undefined method Qcloud\\Cos\\Client\:\:deleteObject\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: plugin/cccms/support/storage/CosDriver.php

		-
			message: '#^Call to an undefined method Qcloud\\Cos\\Client\:\:putObject\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: plugin/cccms/support/storage/CosDriver.php

		-
			message: '#^Offset 1 does not exist on array\<string, mixed\>\.$#'
			identifier: offsetAccess.notFound
			count: 1
			path: plugin/cccms/support/storage/QiniuDriver.php
